body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: 1px solid #bbb;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin: 4px;
  border-radius: 5px;
}

select {
  margin: 4px;
}

.property_list dd {
  display: inline;
  margin: 0;
}
.property_list dd:after {
  display: block;
  content: '';
}
.property_list dt {
  display: inline-block;
  min-width: 100px;
}

pre {
  background-color: #efefef;
  width: 90%;
  overflow: scroll;
}

.body-item {
  border: 1px solid transparent;
}

.body-item:hover {
  border: 1px solid #D54324;
  cursor: pointer;
}

.body-item .body-item-type {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D54324;
  color: white;
  padding: 3px;
  font-size: 0.7em;
}

.body-item:hover .body-item-type {
  display: block;
}

.document.editing .body-item .body-item-type {
  display: none;
}

.document.editing {
  background-color: #efefef;
}

.document.editing .body-item.editing,
.document.editing .body-item.editing:hover {
  background-color: white;
  border: 2px solid #D54324;
}

.document .body-item {
  position: relative;
}

.document.editing .body-item:hover {
  border: 1px solid transparent;
}

.document.editing .body-item {
  position: relative;
}

.document .editing-overlay {
  display: none;
}
.document.editing .editing-overlay {
  display: block;
}

.markdown textarea {
  font-size: 1em;
  width: 100%;
  height: 150px;
  padding: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.editing-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(100, 100, 100, 0.5);
}

.body-item-tools {
  background-color: #efefef;
}

.edit {
  background-color: #efefef;
}

.edit .field {
  padding: 6px;
}

.edit .field label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.edit .field input.url {
  width: 100%;
}

ul.vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  display: inline-block;
}
